*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

section{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

article{
    width: 250px;
    padding: 1.2rem;
    text-align: center;
    border: 1px solid white;
}

h3{
    margin-bottom: 20px;
}

.radio-btn{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
}

article:nth-of-type(2){
    display: flex;
    justify-content: space-between;
}

#result{
    font-size: 2rem;
}

.circle{
    width: fit-content;
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle{
    background-color: red;
    padding: 5px 2px;
}

article .circle{
    width: 45px;
    padding: 10px;
}

article .circle p{
    font-size: 0.7rem;
}

div .circle p{
    font-size: 1.5rem;
}

section>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.choice{
    display: flex;
    gap: 1rem
}

a{
    color: goldenrod;
}